.clients {
  background-color: $clients-background-color;
}

.clients-list {
  gap: $gap;
  display: flex;
  flex-wrap: wrap;
}

.clients-list__items {
  @include calc(2);
   // width: calc((100% - 30px) / 2);
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 92px;

  border: 1px solid $icon-fill;
  border-radius: 4px;

  color: $icon-fill;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.clients-list__icon {
  fill: currentColor;
}


@include tablet {
  .clients-list__items {
    @include calc(3);
     // width: calc((100% - 60px) / 3);
  }
}


@include desktop {
  .clients-list__items {
    width: calc((100% - 150px) / 6);
    height: 92px;
  }
}
