.features-list__title {
  margin-bottom: 10px;
  margin-top: 30px;

  @include text(null, 14px, 1.33, null, null);

  text-transform: uppercase;
}

.features-list,
.team-list {
  @extend %aligner;
  gap: 30px;
}

.features-list__item {
  max-width: 270px;
  height: 248px;
}

.features-list__wrap {
  @extend %aligner;

  height: 120px;

  background-color: $team-background-color;
  border-radius: 4px;
}

.features-list__text {
  line-height: 1.71;

  color: $text-color;
}
