// .menu-mob__open-btn {
// }
// .menu-mob__open-icon {
// }
.menu-mob {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}
.menu-mob-container {
  position: relative;
  width: 100%;
  padding: 48px 40px;
  margin: 0 auto;
}

.menu-mob__close-btn {
  position: absolute;
  // padding: 0;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
}
// .menu-mob__close-icon {
// }
// .menu-mob__list {
// }
// .list {
// }
// .menu-mob__item {
// }
// .menu-mob__link {
// }
// .link {
// }
// .current {
// }
// .mob-contacts {
// }
// .mob-contacts__list {
// }
// .mob-contacts__item {
// }
// .mob-contacts__link {
// }
// .mob-social {
// }
// .mob-social__item {
// }
// .mob-social__link {
// }

.header {
  border-bottom: 1px solid $border-color;

  &__container {
    @extend %aligner;
  }
}

.navigation {
  @extend %aligner;
}

.navigation__logo {
  margin-right: 93px;

  padding-top: 24px;
  padding-bottom: 25px;
}

.menu,
.contacts {
  display: none;
  // @extend %aligner;

  // gap: 50px;
}

.menu__item {
  padding: 32px 0;

  .current {
    color: $accent-color;

    &::after {
      content: '';

      display: block;
      position: absolute;

      width: 100%;

      bottom: -2px;

      border-bottom: 4px solid $accent-color;
      border-radius: 2px;
    }
  }
}

.menu__link {
  color: $main-color;
}

.menu__link,
.contacts__link {
  position: relative;
  padding: 32px 0;
  @include text(500, null, 1.33, 0.02em, null);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts {
  @extend %aligner;
  margin-left: auto;
}

.contacts__link {
  @extend %aligner;
  gap: 10px;
  color: $text-color;
}

.contacts__icon {
  fill: currentColor;
}
