.team {
  background-color: $team-background-color;
  
}

.team-list__item {
  width: 100%;
  background-color: $main-background-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__name {
  text-align: center;

  margin-bottom: 10px;

  @include text(500, 16px, 1.18, null, null);
}

.team-list__text {
  text-align: center;
  margin-bottom: 16px;

  @include text(null, 16px, 1.18, null, $text-color);
}

.team-list__content {
  padding: 30px 0;
}

@include tablet {
  .team-list__item {
    @include calc(2);
    // width: calc((100% - 30px) / 2);
  }
}

@include desktop {
  .team-list__item {
   max-width: 270px;}
}
