.modal { 
  position: absolute;

  padding: 40px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: $main-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scaley(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__close-btn {
    position: absolute;

    @extend %aligner;

    padding: 0;

    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    color: $logo-dark-color;
    background-color: $secondary-main-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    outline: transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;

    &:hover,
    &:focus {
      color: $accent-color;
      border-color: $accent-color;
    }
  }

  &__title {
    margin-bottom: 12px;

    text-align: center;
    @include text(700, 20px, 1.15, null, null);
  }
}

.modal__icon-close {
      fill: currentColor;
    }
