.address__footer {
  margin-top: 20px;
  margin-left: auto;

  min-width: 231px;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  font-style: normal;
  @include text(null, null, 1.71, null, rgba(255, 255, 255, 0.6));

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link--white {
  color: $secondary-main-color;
}
