.footer {
  background-color: $secondary-background-color;

  &__container {
    display: flex;
    justify-content: center;
    align-items: baseline;

    padding: 60px 0;

    gap: 70px;
  }

  &__title {
    text-align: start;
    margin-bottom: 20px;

    @include text(null, 14px, 1.14, null, $secondary-main-color);

    text-transform: uppercase;
  }
}
