.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: calc(-1 * $gap);
  margin-left: calc(-1 * $gap);
}

.cards-link {
  display: block;
  margin: 0;

  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.cards-link__title {
  margin-bottom: 4px;
  @include text(null, 18px, 2, 0.06em, $main-color);
}

.cards-list__item {
  margin-top: $gap;
  margin-left: $gap;

  flex-basis: calc(100% / 3 - $gap);
}

.cards-link__box {
  position: relative;
  overflow: hidden;

  width: 370px;
  height: 294px;

  &:hover .overlay {
    transform: translateX(0);
  }
}

.overlay {
  position: absolute;
  padding: 63px 24px;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__content {
  @include text(null, 18px, 1.56, null, #ffffff);
}

.cards-link__content {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.cards-link__text {
  color: $text-color;
  font-size: 16px;
  line-height: 1.88;
}
