.btn__accent {
  display: block;
  margin: 0 auto;
  height: 50px;
  
  font-family: inherit;
  @include text(600, 14px, 1.88, 0.06em, $secondary-main-color);

  @include mobile {
    @include text(700, 16px, 1.88, 0.06em, $secondary-main-color);
  }

  border-radius: 4px;
  border: none;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: $accent-btn-background-color;
  }
}
