$main-color: #212121;
$main-background-color: #ffffff;
$text-color: #757575;
$secondary-main-color: #ffffff;
$accent-btn-background-color: #188ce8;
$accent-color: #2196f3;
$logo-dark-color: #000000;
$logo-light-color: #ffffff;
$footer-link-color: rgba(255, 255, 255, 0.6);
$logo-font: 'Raleway', sans-serif;
$secondary-background-color: #2f303a;
$border-color: #ececec;
$team-background-color: #f5f4fa;
$clients-background-color: #f5f5f5;
$active-icon-background-color: #d9d9d9;
$gap: 30px;
$icon-fill: #afb1b8;
